<div>
    <h1>MEU SITE DE VEÍCULOS</h1>
</div>
<div>
    <ul>
        <li><a href="">Página 1</a></li>
        <li><a href="">Página 2</a></li>
        <li><a href="">Página 3</a></li>
        <li><a href="">Página 4</a></li>
        <li><a href="">Página 5</a></li>
        <li><a href="">Página 6</a></li>
        <li><a href="">Página 7</a></li>
        <li><a href="">Página 8</a></li>
        <li><a href="">Página 9</a></li>
        <li><a href="">Página 10</a></li>
    </ul>
</div>